:root {
    /* minimal nix */
    /*
    --base03:	#000000;
    --base02:	#ffffff;
    --base01:	#000000;
    --base00:	#b44127;
    --base0: 	#69844e;
    --base1: 	#e3ba7f;
    --base2: 	#4b698a;
    --base3: 	#c48787;
    --yellow:	#92bed5;
    --orange:	#d2e9f1;
    --red: 	 	#8f8481;
    --magenta:	#d84f30;
    --violet:	#87aa64;
    --blue:  	#ffe69b;
    --cyan:  	#4b698a;
    --green: 	#e09a9a; 
    /*

	/* solarized#b7d7e9#0abdc6 dark */
    /*          #ffffff#d7d7d5
    --base03: #0#d7d7d502b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900; 
    */
    /*=====================================*/
    /* gruvbox dark */
	
    --base04: #1D2021;
    --base03: #282828;
    --base02: #3c3836;
    --dark1: #504945;
    --dark2: #665c54;
    --base01: #7c6f64;
    --base00: #7c6f64;
    --base0: #928374;
    --base1: #928374;
    --base2: #f9f5d7;
    --base3: #f2e5bc;
    --red: #fb4934;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --blue: #83a598;
    --magenta: #d3869b;
    --cyan: #8ec07c;
    --orange: #fe8019;
	
    /* 
    --neutral_red: #cc241d;
    --neutral_green: #98971a;
    --neutral_yellow: #d79921;
    --neutral_blue: #458588;
    --neutral_purple: #b16286;
    --neutral_aqua: #689d6a;
    --neutral_orange: #d65d0e;

    --faded_red: #9d0006;
    --faded_green: #79740e;
    --faded_yellow: #b57614;
    --faded_blue: #076678;
    --faded_purple: #8f3f71;
    --faded_aqua: #427b58;
    --faded_orange: #af3a03; 
    */
    
    
    /* cyberpunk black */
    /*
    --base04: black;
    --base03: black;
    --base02: black;
    --base01: grey;
    --base00: grey;
    --base0: white;
    --base1: #928374;
    --base2: #f9f5d7;
    --base3: #f2e5bc;
    --red: #ff00ea;
    --green: #ff00ea;
    --yellow: #fabd2f;
    --blue: #00ffea;
    --magenta: #ff00ea;
    --cyan: #00ffea;
    --orange: #00ffea;
    */

    /* cyberpunk low contrast */
    /*
    --base04: #110511;
    --base03: #110511;
    --base02: #110511;
    --base01: #2E243D;
    --base00: #2E243D;
    --base0: #706970;
    --base1: #706970;
    --base2: #ffffff;
    --base3: #ffffff;
    --red: #930a6d;
    --green: #12BC00;
    --yellow: #12BC00;
    --blue: #00b7c3;
    --magenta: #ea0eaa;
    --cyan: #00b7c3;
    --orange: #00b7c3;
	*/
}


@media (max-width: 500px) {
    .links-container {
        flex-direction: column !important;
        order: 2 !important;        
        /* width: 100vw !important;  */
    }
    .terminal-screen{
        border: none !important;
    }
    #search {
        order: 1 !important;
    }

    #middle {
        vertical-align: none !important;
    }

    #inner {
        margin-left: 0  !important;
        margin-right: 0  !important;
    }

    .user {
        order: 0 !important;
    }


}

/* elements */
body {
    background-color: var(--base03);
    font-family: "Lucidia Console", monospace;
    color: var(--base0);
    font-size: 16px;
}

ul {
    list-style-position: inside;
    list-style-type: "";
}

input {
    background-color: var(--base03);
    caret-color: var(--base0);
    outline: none;
    border: none;
    color: var(--base0);
    font-family: "Lucidia Console", monospace;
    font-size: 16px;
    padding-left: 5px;
}

.terminal-screen {
    overflow: hidden;
    border: 5px solid var(--base00);
    padding: 5px;
    
}

#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#middle {
    display: table-cell;
    vertical-align: middle;
}

#inner {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}


#search {
    display: flex;
    width: 100%;
    order: 2;
}

#search-bar {
    order: 4;
    overflow: hidden;
    background: var(--base03);
    font-family: "Lucidia Console", monospace;
    display: flex;
}

.music-embed{
    width: 50%;
    padding: 10px 10px 10px 10px;
    margin: 0 auto; /* centering */
}

.links-container {
    order: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 30%;
    padding: 10px;
    justify-content: space-around;
}

.main,
.tech,
.social,
.varsity,
.media,
.programming,
.gaming {
    width: auto;
    position: relative;
    padding: 10px;
    transition: background-color 0.3s;
    color: var(--cyan);
}

.main:hover,
.tech:hover,
.social:hover,
.varsity:hover,
.media:hover,
.programming:hover,
.gaming:hover {
    background-color: var(--base03);
}

.main {
    order: 0;
}

.social {
    order: 1;
}

.varsity {
    order: 2;
}

.tech {
    order: 3;
}

.programming {
    order: 4;
}

.media {
    order: 5;
}

.gaming {
    order: 6;
}

/* hyperlinks */

a:link,
a:visited {
    color: var(--base0);
    text-decoration: none;
}

a:hover {
    color: var(--cyan);
    text-decoration: none;
}

a:active {
    color: var(--blue);
    text-decoration: none;
}

/* "syntax highlighting" */

.user {
    display: flex;
    order: 0;
}

.unix-user {
    color: var(--orange);
    order: 0;
}

.unix-syntax1 {
    color: var(--base0);
    order: 1;
}

.PC-name {
    color: var(--blue);
    order: 2;
}

.unix-syntax2 {
    color: var(--base0);
    order: 3;
}

/* blinking cursor */

.cursor {
    animation: blinker 1s step-start infinite;
    color: var(--base0);
    order: 4;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* section headings */

#main-h {
    color: var(--magenta);
}

#varsity-h {
    color: var(--green);
}

#social-h {
    color: var(--orange);
}

#tech-h {
    color: var(--cyan);
}

#programming-h {
    color: var(--red);
}

#media-h {
    color: var(--yellow);
}

#gaming-h {
    color: var(--blue);
}
